<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMCSService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/MyCloudStoreSvc/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMCSService"
                contract="ServiceReference1.IMCSService" name="BasicHttpBinding_IMCSService" />
        </client>
    </system.serviceModel>
</configuration>