<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMCSService" maxReceivedMessageSize="100000000" maxBufferSize="100000000" maxBufferPoolSize="100000000" receiveTimeout="10:00:00">
					<readerQuotas maxDepth="32" maxArrayLength="100000000" maxStringContentLength="100000000"/>
				</binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/MyCloudStoreSvc/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMCSService"
                contract="MCSService.IMCSService" name="BasicHttpBinding_IMCSService" />
        </client>
    </system.serviceModel>
</configuration>